
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
 
}

a {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
  background-color: aqua;
  padding: 5px;
}

a:hover {
  color: #0056b3;
} 
